fastapi
uvicorn[standard]
sqlmodel
fastapi-users[sqlalchemy2]
fastapi-users-db-sqlmodel
python-jose[cryptography]
passlib[bcrypt]
networkx
matplotlib
spacy
sentence-transformers
pyyaml
python-multipart
pydantic
markdown
bleach
ruamel.yaml
pytest
llama-cpp-python
torch

