fastapi
uvicorn[standard]
pydantic
pyyaml
networkx
requests
python-dotenv
fastapi-users[sqlalchemy2]
fastapi-users-db-sqlmodel
sqlmodel
python-jose[cryptography]
passlib[bcrypt]
spacy
bleach
markdown
pytest
ruamel.yaml
httpx

# Documentation
mkdocs
mkdocs-material
mkdocstrings
mkdocstrings-python

